<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">Табло поездов</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0 {% if request.resolver_match.url_name == "main-view" %}active{% endif %}"
               aria-current="page" href="{% url 'train:main-view' %}">Главная</a>
            <a class="nav-link fw-bold py-1 px-0 {% if request.resolver_match.url_name == "create-train-view" %}active{% endif %}"
               aria-current="page"
               href="{% url 'train:create-train-view' %}">Новый рейс</a>
        </nav>
    </div>
</header>